section {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    background-color: lightgreen;
    border-radius: 16px;   
    margin-bottom: 24px;
}

.loggedin {
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

input{
    height: 36px;
    border: 1px solid #999999;
    border-radius: 8px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: tomato;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}
button:hover{
    background-color: brown;
    color: white
}