<h1>My First Angular App</h1>
<!-- <app-first></app-first>
<section inline></section>
<app-propbind></app-propbind>
<app-eventbind></app-eventbind>
<app-twowaybinding></app-twowaybinding>
<app-directive></app-directive>
<app-ngfor></app-ngfor> -->
<section>
    <p>
        <a routerLink="/">Home</a> -
        <a routerLink="/product">Product</a> -
        <a routerLink="/about">About</a> -
        <a routerLink="/profile">Profile</a> -
        <a routerLink="/contact">Contact</a>
    </p>
</section>
<router-outlet></router-outlet>