button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #FF8585;
    cursor: pointer;
}
button:hover{
    background-color: #BE3737;
    color: white
}